html {
    scroll-behavior: smooth;
}

body{
    margin: 0 auto;
    width: 90%;
    background-color: black;
}

article{
    display: grid;
    padding: 10px;
    width: 45%;
    float: left;
    background-color: white;
    line-height: 30px;
}
aside{
    display: grid;
    padding: 10px;
    width: 50%;
    background-color: white;
}

header, footer{
    color: white;
    padding: 2%;
    position: relative;
    top: -40px; left: 50px;
}

img{
    size: 100px 100px;
}

h1{
    font-size: 100px;
}

@media screen and (min-width:0px) {

    iframe{
        max-width: 100%;
        max-height: 100%;
    }

}
